<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @usha.title %>
</p>

<p>
  <b>Food Type:</b>
  <%= @usha.food_type %>
</p>

<p>
  <b>Category:</b>
  <%= @usha.category %>
</p>

<p>
  <b>Video:</b>
  <%= @usha.video %>
</p>
<%= video_tag("movie.mp4",poster:"rails.png" , :size => "720x640",:controls => true,:autobuffer => true) %>


<p>
  <b>Recipe:</b>
  <%= @usha.recipe %>
</p>

<p>
  <b>Explanation:</b>
  <%= @usha.explanation %>
</p>


<%= link_to 'Edit', edit_usha_path(@usha) %> |
<%= link_to 'Back', ushas_path %>
